<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.trash.trashPut.TrashPutDao">


    <sql id="trashPutColumns">
		a.trashPutId AS "trashPutId",
		a.createDate AS "createDate",
		a.officeId AS "officeId",
		a.departmentId AS "departmentId",
		a.code AS "code",
		a.trashId AS "trashId",
		a.Packets AS "Packets",
		a.collectId AS "collectId",
		a.collectTime AS "collectTime",
		a.collectNumber AS "collectNumber",
		a.caseNum AS "caseNum",
		a.weight AS "weight",
		a.weightNumber AS "weightNumber",
		a.putInTime AS "putInTime",
		a.collectMethods AS "collectMethods"
	</sql>

    <!--查询单条数据-->
    <select id="get" resultType="TrashPut">
        SELECT
        <include refid="trashPutColumns"/>
        FROM t_trash_put a
        WHERE a.trashPutId = #{id}
    </select>

    <!--根据名称查询-->
    <select id="getByName" resultType="TrashPut">
        SELECT
        <include refid="trashPutColumns"/>
        FROM t_trash_put a
        WHERE a.trashPutName = #{value}
    </select>

    <!--查询所有-->
    <select id="findList" resultType="TrashPut">
        SELECT
        <include refid="trashPutColumns"/>
        FROM t_trash_put a ORDER BY a.createDate DESC
    </select>

    <!--插入-->
    <insert id="insert">
		INSERT INTO t_trash_put(
			trashPutId,
			createDate,
			officeId,
			departmentId,
			code,
			trashId,
			Packets,
			collectId,
			collectTime,
			collectNumber,
			caseNum,
			weight,
			weightNumber,
			putInTime,
			collectMethods
		) VALUES (
			#{trashPutId},
			#{createDate},
			#{officeId},
			#{departmentId},
			#{code},
			#{trashId},
			#{Packets},
			#{collectId},
			#{collectTime},
			#{collectNumber},
			#{caseNum},
			#{weight},
			#{weightNumber},
			#{putInTime},
			#{collectMethods}
		)
	</insert>

    <!--修改-->
    <update id="update">
		UPDATE t_trash_put SET
			trashPutId = #{trashPutId},
			createDate = #{createDate},
			officeId =	#{officeId},
			departmentId = #{departmentId},
			code = #{code},
			trashId = #{trashId},
			Packets = #{Packets},
		    collectId = #{collectId},
			collectTime = #{collectTime},
			collectNumber = #{collectNumber},
			caseNum = #{caseNum},
            weight = #{weightNumber},
			putInTime = #{putInTime},
			collectMethods = #{collectMethods}
		WHERE trashPutId = #{trashPutId}
	</update>

    <!--物理删除-->
    <update id="delete">
		DELETE FROM t_trash_put
		WHERE trashPutId = #{id}
	</update>

</mapper>