<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.hospital.department.DepartmentDao">

    
	<sql id="departmentColumns">
		a.departmentId AS "departmentId",
		a.createDate AS "createDate",
		a.remarks AS "remarks",
		a.departmentName AS "departmentName",
		a.hospitalId AS "hospitalId"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="Department">
		SELECT 
			<include refid="departmentColumns"/>
		FROM t_department a
		WHERE a.departmentId = #{id} ORDER BY a.createDate DESC
	</select>

	<!--通过查询条件查询所有数据-->
	<select id="findListByRequest" resultType="Department">
		SELECT
		<include refid="departmentColumns"/>
		FROM t_department a
		<where>
			<if test="departmentName != null and departmentName != ''">
				AND a.departmentName like concat('%',#{departmentName},'%')
			</if>
		</where>
		ORDER BY a.createDate DESC
	</select>

	<!--根据名称查询-->
	<select id="getByName" resultType="Department">
		SELECT
		<include refid="departmentColumns"/>
		FROM t_department a
		WHERE a.departmentName = #{value}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="Department">
		SELECT 
			<include refid="departmentColumns"/>
		FROM t_department a	ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_department(
			departmentId,
			createDate,
			remarks,
			departmentName,
			hospitalId
		) VALUES (
			#{departmentId},
			#{createDate},
			#{remarks},
			#{departmentName},
			#{hospitalId}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_department SET 	
			remarks = #{remarks},
			departmentName = #{departmentName},
			hospitalId = #{hospitalId}
		WHERE departmentId = #{departmentId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_department
		WHERE departmentId = #{id}
	</update>

</mapper>