<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.hospital.HospitalDao">

    
	<sql id="hospitalColumns">
		a.hospitalId AS "hospitalId",
		a.hospitalName AS "hospitalName",
		a.hospitalNumber AS "hospitalNumber",
		a.grade AS "grade",
		a.bedNumber AS "bedNumber",
		a.averageTrash AS "averageTrash",
		a.officeNumber AS "officeNumber",
		a.principal AS "principal",
		a.hospitalContent AS "hospitalContent",
		a.picture AS "picture",
		a.processingMode AS "processingMode",
		a.createDate AS "createDate",
		a.remarks AS "remarks"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="hospital">
		SELECT 
			<include refid="hospitalColumns"/>
		FROM t_hospital a
		WHERE a.hospitalId = #{id}
	</select>

	<!--根据名称查询-->
	<select id="getByName" resultType="hospital">
		SELECT
		<include refid="hospitalColumns"/>
		FROM t_hospital a
		WHERE a.hospitalName = #{value}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="hospital">
		SELECT 
			<include refid="hospitalColumns"/>
		FROM t_hospital a	ORDER BY a.createDate DESC
	</select>

	<!--通过查询条件查询所有数据-->
	<select id="findListByRequest" resultType="hospital">
		SELECT
		<include refid="hospitalColumns"/>
		FROM t_hospital a
		<where>
			<if test="hospitalName != null and hospitalName != ''">
				AND a.hospitalName like concat('%',#{hospitalName},'%')
			</if>
			<if test="hospitalNumber != null and hospitalNumber != ''">
				AND a.hospitalNumber =#{hospitalNumber}
			</if>
		</where>
		ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_hospital(
			hospitalId,
			hospitalName,
			hospitalNumber,
			grade,
			bedNumber,
			averageTrash,
			officeNumber,
			principal,
			hospitalContent,
			picture,
			processingMode,
			createDate,
			remarks
		) VALUES (
			#{hospitalId},
			#{hospitalName},
			#{hospitalNumber},
			#{grade},
			#{bedNumber},
			#{averageTrash},
			#{officeNumber},
			#{principal},
			#{hospitalContent},
			#{picture},
			#{processingMode},
			#{createDate},
			#{remarks}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_hospital SET
			hospitalName = #{hospitalName},
			hospitalNumber = #{hospitalNumber},
			grade = #{grade},
			bedNumber = #{bedNumber},
			averageTrash = #{averageTrash},
			officeNumber = #{officeNumber},
			principal = #{principal},
			hospitalContent = #{hospitalContent},
			picture = #{picture},
			processingMode = #{processingMode},
			remarks	= #{remarks}
		WHERE hospitalId = #{hospitalId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_hospital
		WHERE hospitalId = #{id}
	</update>

</mapper>