<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.hospitalSwitch.SwitchEmailDao">

    <sql id="SwitchWarnColumns">
      a.hospitalId AS "hospitalId",
		a.warnDamaged AS "warnDamaged",
		a.warnLose AS "warnLose",
		a.warnLeakage AS "warnLeakage",
		a.warnNoOut AS "warnNoOut",
		a.warnViolation AS "warnViolation",
		a.warnInWeight AS "warnInWeight",
		a.warnOutWeight AS "warnOutWeight",
		a.warnInOvertime AS "warnInOvertime",
		a.warnInOvertime AS "warnOutOvertime",
		a.createDate AS "createDate"
    </sql>

    <!--查询单条数据-->
    <select id="get" resultType="SwitchEmail">
        SELECT
        <include refid="SwitchWarnColumns"/>
        FROM switch_email a
        WHERE a.hospitalId = #{id}
    </select>

    <!--查询所有-->
    <select id="findList" resultType="SwitchEmail">
        SELECT
        <include refid="SwitchWarnColumns"/>
        FROM switch_email a	ORDER BY a.createDate DESC
    </select>

    <!--插入-->
    <insert id="insert">
        INSERT INTO switch_email(
            hospitalId,
			warnDamaged,
			warnLose,
			warnLeakage,
			warnNoOut,
			warnViolation,
			warnInWeight,
			warnOutWeight,
			warnInOvertime,
			warnOutOvertime,
			createDate
        ) VALUES (
            #{hospitalId},
			#{warnDamaged},
			#{warnLose},
			#{warnLeakage},
			#{warnNoOut},
			#{warnViolation},
			#{warnInWeight},
			#{warnOutWeight},
			#{warnInOvertime},
			#{warnOutOvertime},
			#{createDate}
        )
    </insert>

    <!--修改-->
    <update id="update">
        UPDATE switch_email SET
            warnDamaged = #{warnDamaged},
			warnLose = #{warnLose},
			warnLeakage = #{warnLeakage},
			warnNoOut = #{warnNoOut},
			warnViolation = #{warnViolation},
			warnInWeight = #{warnInWeight},
			warnOutWeight = #{warnOutWeight},
			warnInOvertime = #{warnInOvertime},
			warnOutOvertime = #{warnOutOvertime}
        WHERE hospitalId = #{hospitalId}
    </update>

    <!--物理删除-->
    <update id="delete">
        DELETE FROM switch_email
        WHERE hospitalId = #{id}
    </update>

</mapper>