<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.hospitalSwitch.SwitchEmailDao">

    <sql id="SwitchWarnColumns">
        a.hospitalId AS "hospitalId",
        a.warnTypeId AS "warnTypeId",
        a.status AS "status",
        a.createDate AS "createDate"
    </sql>

    <!--查询单条数据-->
    <select id="get" resultType="SwitchEmail">
        SELECT
        <include refid="SwitchWarnColumns"/>
        FROM switch_email a
        WHERE a.hospitalId = #{id}
    </select>

    <!--查询所有-->
    <select id="findList" resultType="SwitchEmail">
        SELECT
        <include refid="SwitchWarnColumns"/>
        FROM switch_email a	ORDER BY a.createDate DESC
    </select>

    <!--插入-->
    <insert id="insert">
        INSERT INTO switch_email(
        hospitalId,
        warnTypeId,
        status,
        createDate
        ) VALUES (
        #{hospitalId},
        #{warnTypeId},
        #{status},
        #{createDate}
        )
    </insert>

    <!--修改-->
    <update id="update">
        UPDATE switch_email SET
        warnTypeId = #{warnTypeId},
        status = #{status}
        WHERE hospitalId = #{hospitalId}
    </update>

    <!--物理删除-->
    <update id="delete">
        DELETE FROM switch_email
        WHERE hospitalId = #{id}
    </update>

</mapper>