<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.warn.warnOutWeight.WarnOutWeightDao">

    
	<sql id="warnOutWeightColumns">
		a.warnOutWeightId AS "warnOutWeightId",
		a.status AS "status",
		a.monitorId AS "monitorId",
		a.caseNum AS "caseNum",
		a.inWeight AS "inWeight",
		a.outWeight AS "outWeight",
		a.outPerson AS "outPerson",
		a.outTime AS "outTime",
		a.warnTime AS "warnTime",
		a.createDate AS "createDate",
		a.remarks AS "remarks"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="warnOutWeight">
		SELECT 
			<include refid="warnOutWeightColumns"/>
		FROM t_warn_outWeight a
		WHERE a.warnOutWeightId = #{id}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="warnOutWeight">
		SELECT 
			<include refid="warnOutWeightColumns"/>
		FROM t_warn_outWeight a	ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_warn_outWeight(
			warnOutWeightId,
			status,
			monitorId,
			caseNum,
			inWeight,
			outWeight,
			outPerson,
			outTime,
			warnTime,
			createDate,
			remarks
		) VALUES (
			#{warnOutWeightId},
			#{status},
			#{monitorId},
			#{caseNum},
			#{inWeight},
			#{outWeight},
			#{outPerson},
			#{outTime},
			#{warnTime},
			#{createDate},
			#{remarks}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_warn_outWeight SET 	
			status = #{status},
			monitorId = #{monitorId},
			caseNum = #{caseNum},
			inWeight = #{inWeight},
			outWeight = #{outWeight},
			outPerson = #{outPerson},
			outTime = #{outTime},
			warnTime = #{warnTime},
			remarks = #{remarks}
		WHERE warnOutWeightId = #{warnOutWeightId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_warn_outWeight
		WHERE warnOutWeightId = #{id}
	</update>

</mapper>