<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.warnInWeight.WarnInWeightDao">

    
	<sql id="WarnInWeightColumns">
		a.warnInWeightId AS "warnInWeightId",
		a.departmentId AS "departmentId",
		a.officeId AS "officeId",
		a.code AS "code",
		a.inWeight AS "inWeight",
		a.collectWeight AS "collectWeight",
		a.trashId AS "trashId",
		a.inPerson AS "inPerson",
		a.collectId AS "collectId",
		a.inTime AS "inTime",
		a.warnTime AS "warnTime",
		a.createDate AS "createDate",
		a.remarks AS "remarks"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="WarnInWeight">
		SELECT
			<include refid="WarnInWeightColumns"/>
		FROM t_warn_inWeight a
		WHERE a.warnInWeightId = #{id}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="WarnInWeight">
		SELECT
			<include refid="WarnInWeightColumns"/>
		FROM t_warn_inWeight a	ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_warn_inWeight(
			warnInWeightId,
			departmentId,
			officeId,
			code,
			inWeight,
			collectWeight,
			trashId,
			inPerson,
			collectId,
			inTime,
			warnTime,
			createDate,
			remarks
		) VALUES (
			#{warnInWeightId},
			#{departmentId},
			#{officeId},
			#{code},
			#{inWeight},
			#{collectWeight},
			#{trashId},
			#{inPerson},
			#{collectId},
			#{inTime},
			#{warnTime},
			#{createDate},
			#{remarks}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_warn_inWeight SET
			departmentId = #{departmentId},
			officeId = #{officeId},
			code = #{code},
			inWeight = #{inWeight},
			collectWeight = #{collectWeight},
			trashId = #{trashId},
			inPerson = #{inPerson},
			collectId = #{collectId},
			inTime = #{inTime},
			warnTime = #{warnTime},
			remarks = #{remarks}
		WHERE warnInWeightId = #{warnInWeightId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_warn_inWeight
		WHERE warnInWeightId = #{id}
	</update>

</mapper>