<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.collect.CollectDao">

    
	<sql id="collectColumns">
		a.collectId AS "collectId",
		a.createDate AS "createDate",
		a.remarks AS "remarks",
		a.collectName AS "collectName",
		a.collectCode AS "collectCode",
		a.hospitalId AS "hospitalId"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="Collect">
		SELECT 
			<include refid="collectColumns"/>
		FROM t_collect a
		WHERE a.collectId = #{id}
	</select>

	<!--根据名称查询-->
	<select id="getByName" resultType="Collect">
		SELECT
		<include refid="collectColumns"/>
		FROM t_collect a
		WHERE a.collectName = #{value}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="Collect">
		SELECT 
			<include refid="collectColumns"/>
		FROM t_collect a ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_collect(
			collectId,
			createDate,
			remarks,
			collectName,
			collectCode,
			hospitalId
		) VALUES (
			#{collectId},
			#{createDate},
			#{remarks},
			#{collectName},
			#{collectCode},
			#{hospitalId}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_collect SET
			remarks = #{remarks},
			collectName = #{collectName},
			collectCode = #{collectCode},
			hospitalId = #{hospitalId}
		WHERE collectId = #{collectId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_collect
		WHERE collectId = #{id}
	</update>

</mapper>