<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.trash.trashCollect.TrashCollectDao">


    <sql id="trashCollectColumns">
		a.trashCollectId AS "trashCollectId",
		a.createDate AS "createDate",
		a.officeId AS "officeId",
		a.departmentId AS "departmentId",
		a.code AS "code",
		a.trashId AS "trashId",
		a.Packets AS "Packets",
		a.collectMethods AS "collectMethods",
		a.equipmentId AS "equipmentId",
		a.collectId AS "collectId",
		a.collectTime AS "collectTime",
		a.collectNumber AS "collectNumber",
		a.violationWeight AS "violationWeight"
	</sql>

    <!--查询单条数据-->
    <select id="get" resultType="TrashCollect">
        SELECT
        <include refid="trashCollectColumns"/>
        FROM t_trash_collect a
        WHERE a.trashCollectId = #{id}
    </select>

    <!--根据名称查询-->
    <select id="getByName" resultType="TrashCollect">
        SELECT
        <include refid="trashCollectColumns"/>
        FROM t_trash_collect a
        WHERE a.trashCollectName = #{value}
    </select>

    <!--查询所有-->
    <select id="findList" resultType="TrashCollect">
        SELECT
        <include refid="trashCollectColumns"/>
        FROM t_trash_collect a ORDER BY a.createDate DESC
    </select>

    <!--插入-->
    <insert id="insert">
		INSERT INTO t_trash_collect(
			trashCollectId,
			createDate,
			officeId,
			departmentId,
			code,
			trashId,
			Packets,
			collectMethods,
			equipmentId,
			collectId,
			collectTime,
			collectNumber,
			violationWeight
		) VALUES (
			#{trashCollectId},
			#{createDate},
			#{officeId},
			#{departmentId},
			#{code},
			#{trashId},
			#{Packets},
			#{collectMethods},
			#{equipmentId},
			#{collectId},
			#{collectTime},
			#{collectNumber},
			#{violationWeight}
		)
	</insert>

    <!--修改-->
    <update id="update">
		UPDATE t_trash_collect SET
			trashCollectId = #{trashCollectId},
			createDate = #{createDate},
			officeId =	#{officeId},
			departmentId = #{departmentId},
			code = #{code},
			trashId = #{trashId},
			Packets = #{Packets},
			collectMethods = #{collectMethods},
			equipmentId = #{equipmentId},
			collectId = #{collectId},
			collectTime = #{collectTime},
			collectNumber = #{collectNumber},
			violationWeight = #{violationWeight}
		WHERE trashCollectId = #{trashCollectId}
	</update>

    <!--物理删除-->
    <update id="delete">
		DELETE FROM t_trash_collect
		WHERE trashCollectId = #{id}
	</update>

</mapper>