<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.warn.WarnInWeightDao">

    
	<sql id="WarnInWeightColumns">
		a.warnInWeightId AS "warnInWeightId",
		a.trashCollectId AS "trashCollectId",
		a.status AS "status",
		a.remarks AS "remarks",
		a.warnTime AS "warnTime",
		a.createDate AS "createDate"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="WarnInWeight">
		SELECT
			<include refid="WarnInWeightColumns"/>
		FROM t_warn_inWeight a
		WHERE a.warnInWeightId = #{id}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="WarnInWeight">
		SELECT
			<include refid="WarnInWeightColumns"/>
		FROM t_warn_inWeight a	ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_warn_inWeight(
			warnInWeightId,
			trashCollectId,
			status,
			remarks,
			warnTime,
			createDate
		) VALUES (
			#{warnInWeightId},
			#{trashCollectId},
			#{status},
			#{remarks},
			#{warnTime},
			#{createDate}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_warn_inWeight SET
			trashCollectId = #{trashCollectId},
			status = #{status},
			remarks = #{remarks},
			warnTime = #{warnTime}
		WHERE warnInWeightId = #{warnInWeightId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_warn_inWeight
		WHERE warnInWeightId = #{id}
	</update>

</mapper>