<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.warn.WarnLoseDao">

    
	<sql id="warnLoseColumns">
		a.warnLoseId AS "warnLoseId",
		a.trashCollectId AS "trashCollectId",
		a.status AS "status",
		a.remarks AS "remarks",
		a.warnTime AS "warnTime",
		a.createDate AS "createDate"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="warnLose">
		SELECT
			<include refid="warnLoseColumns"/>
		FROM t_warn_lose a
		WHERE a.warnLoseId = #{id}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="warnLose">
		SELECT 
			<include refid="warnLoseColumns"/>
		FROM t_warn_lose a	ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_warn_lose(
			warnLoseId,
			trashCollectId,
			status,
			remarks,
			warnTime,
			createDate
		) VALUES (
			#{warnLoseId},
			#{trashCollectId},
			#{status},
			#{remarks},
			#{warnTime},
			#{createDate}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_warn_lose SET
			trashCollectId = #{trashCollectId},
			status = #{status},
			remarks = #{remarks},
			warnTime = #{warnTime}
		WHERE warnLoseId = #{warnLoseId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_warn_lose
		WHERE warnLoseId = #{id}
	</update>

</mapper>