<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.department.DepartmentDao">

    
	<sql id="departmentColumns">
		a.departmentid AS "departmentId",
		a.createdate AS "createDate",
		a.remarks AS "remarks",
		a.departmentname AS "departmentName"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="Department">
		SELECT 
			<include refid="departmentColumns"/>
		FROM t_department a
		WHERE a.departmentid = #{id}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="Department">
		SELECT 
			<include refid="departmentColumns"/>
		FROM t_department a
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_department(
			departmentid,
			createdate,
			remarks,
			departmentname
		) VALUES (
			#{departmentId},
			#{createDate},
			#{remarks},
			#{departmentName}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_department SET 	
			remarks = #{remarks},
			departmentname = #{departmentName}
		WHERE departmentid = #{departmentId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_department
		WHERE departmentid = #{id}
	</update>

</mapper>