<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.warnLose.WarnLoseDao">

    
	<sql id="warnLoseColumns">
		a.warnLoseId AS "warnLoseId",
		a.departmentId AS "departmentId",
		a.officeId AS "officeId",
		a.code AS "code",
		a.status AS "status",
		a.collectNumber AS "collectNumber",
		a.trashId AS "trashId",
		a.weight AS "weight",
		a.collectId AS "collectId",
		a.collectTime AS "collectTime",
		a.putInTime AS "putInTime",
		a.warnTime AS "warnTime",
		a.createDate AS "createDate",
		a.remarks AS "remarks"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="warnLose">
		SELECT
			<include refid="warnLoseColumns"/>
		FROM t_warn_lose a
		WHERE a.warnLoseId = #{id}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="warnLose">
		SELECT 
			<include refid="warnLoseColumns"/>
		FROM t_warn_lose a	ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_warn_lose(
			warnLoseId,
			departmentId,
			officeId,
			code,
			status,
			collectNumber,
			trashId,
			weight,
			collectId,
			collectTime,
			putInTime,
			warnTime,
			createDate,
			remarks
		) VALUES (
			#{warnLoseId},
			#{departmentId},
			#{officeId},
			#{code},
			#{status},
			#{collectNumber},
			#{trashId},
			#{weight},
			#{collectId},
			#{collectTime},
			#{putInTime},
			#{warnTime},
			#{createDate},
			#{remarks}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_warn_lose SET
			departmentId = #{departmentId},
			officeId = #{officeId},
			code = #{code},
			status = #{status},
			collectNumber = #{collectNumber},
			trashId = #{trashId},
			weight = #{weight},
			collectId = #{collectId},
			collectTime = #{collectTime},
			putInTime = #{putInTime},
			warnTime = #{warnTime},
			remarks = #{remarks}
		WHERE warnLoseId = #{warnLoseId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_warn_lose
		WHERE warnLoseId = #{id}
	</update>

</mapper>