<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.dao.custom.CustomDao">

    <!--通过查询条件查询所有数据-->
    <select id="customFind" resultType="Custom">
        SELECT
        a.violationWeight,
        a.Packets,
        a.createDate,
        b.trashType
        FROM t_trash_collect a
        left join t_trash_type b on a.trashId = b.trashId
        left join t_office c on  a.officeId = c.officeId
        left join t_department d on  a.departmentId = d.departmentId
        left join t_hospital e on c.hospitalId = e.hospitalId
        left join t_zone f on e.zoneId = f.zoneId
        left join t_city g on e.cityId = g.cityId
        left join t_province h on e.provinceId = h.provinceId
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
            <if test="trashType != null and trashType != ''">
                AND b.trashType = #{trashType}
            </if>
            <if test="officeName != null and officeName != ''">
                AND c.officeName = #{officeName}
            </if>
            <if test="departmentName != null and departmentName != ''">
                AND d.departmentName = #{departmentName}
            </if>
            <if test="hospitalName != null and hospitalName != ''">
                AND e.hospitalName = #{hospitalName}
            </if>
            <if test="zoneName != null and zoneName != ''">
                AND f.zoneName = #{zoneName}
            </if>
            <if test="cityName != null and cityName != ''">
                AND g.cityName = #{cityName}
            </if>
            <if test="provinceName != null and provinceName != ''">
                AND h.provinceName = #{provinceName}
            </if>
            <if test="regime != null and regime != ''">
                AND e.regime = #{regime}
            </if>
            <if test="grade != null and grade != ''">
                AND e.grade = #{grade}
            </if>
            <if test="processingMode != null and processingMode != ''">
                AND e.processingMode = #{processingMode}
            </if>
        </where>
        ORDER BY a.createDate DESC
    </select>

    <!--通过查询条件查询所有数据-->
    <select id="customWarn" resultType="int">
        SELECT
        COUNT(warnDamagedId)
        FROM t_warn_damaged a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customInWeight" resultType="int">
        SELECT
        COUNT(warnInWeightId)
        FROM t_warn_inWeight a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customLeakage" resultType="int">
        SELECT
        COUNT(warnLeakageId)
        FROM t_warn_leakage a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customLose" resultType="int">
        SELECT
        COUNT(warnLoseId)
        FROM t_warn_lose a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customNoOut" resultType="int">
        SELECT
        COUNT(warnNoOutId)
        FROM t_warn_noOut a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customOutOvertime" resultType="int">
        SELECT
        COUNT(warnOutOvertimeId)
        FROM t_warn_outOvertime a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customOutWeight" resultType="int">
        SELECT
        COUNT(warnOutWeightId)
        FROM t_warn_outWeight a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>


    <select id="customViolation" resultType="int">
        SELECT
        COUNT(warnViolationId)
        FROM t_warn_violation a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>




</mapper>