<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.dao.custom.CustomDao">

    <!--通过查询条件查询所有数据-->
    <select id="customFind" resultType="Custom">
        SELECT
        a.violationWeight,
        a.Packets,
        b.trashType
        FROM t_trash_collect a left join t_trash_type b on a.trashId = b.trashId
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
            <if test="trashType != null and trashType != ''">
                AND b.trashType = #{trashType}
            </if>
        </where>
        ORDER BY a.createDate DESC
    </select>

    <!--通过查询条件查询所有数据-->
    <select id="customWarn" resultType="int">
        SELECT
        COUNT(warnDamagedId)
        FROM t_warn_damaged a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customInWeight" resultType="int">
        SELECT
        COUNT(warnInWeightId)
        FROM t_warn_inWeight a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customLeakage" resultType="int">
        SELECT
        COUNT(warnLeakageId)
        FROM t_warn_leakage a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customLose" resultType="int">
        SELECT
        COUNT(warnLoseId)
        FROM t_warn_lose a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customNoOut" resultType="int">
        SELECT
        COUNT(warnNoOutId)
        FROM t_warn_noOut a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customOutOvertime" resultType="int">
        SELECT
        COUNT(warnOutOvertimeId)
        FROM t_warn_outOvertime a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>

    <select id="customOutWeight" resultType="int">
        SELECT
        COUNT(warnOutWeightId)
        FROM t_warn_outWeight a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>


    <select id="customViolation" resultType="int">
        SELECT
        COUNT(warnViolationId)
        FROM t_warn_violation a
        <where>
            <if test="startTime != null and startTime != ''">
                AND a.createDate &gt;=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.createDate &lt;=#{endTime}
            </if>
        </where>
    </select>




</mapper>