<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.warn.warnDamaged.WarnDamagedDao">

    
	<sql id="warnDamagedColumns">
		a.warnDamagedId AS "warnDamagedId",
		a.departmentId AS "departmentId",
		a.officeId AS "officeId",
		a.code AS "code",
		a.status AS "status",
		a.collectNumber AS "collectNumber",
		a.trashId AS "trashId",
		a.weight AS "weight",
		a.collectId AS "collectId",
		a.collectTime AS "collectTime",
		a.putInTime AS "putInTime",
		a.warnTime AS "warnTime",
		a.createDate AS "createDate",
		a.remarks AS "remarks"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="warnDamaged">
		SELECT
			<include refid="warnDamagedColumns"/>
		FROM t_warn_damaged a
		WHERE a.warnDamagedId = #{id}
	</select>

	<!--查询所有-->
	<select id="findList" resultType="warnDamaged">
		SELECT 
			<include refid="warnDamagedColumns"/>
		FROM t_warn_damaged a	ORDER BY a.createDate DESC
	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_warn_damaged(
			warnDamagedId,
			departmentId,
			officeId,
			code,
			status,
			collectNumber,
			trashId,
			weight,
			collectId,
			collectTime,
			putInTime,
			warnTime,
			createDate,
			remarks
		) VALUES (
			#{warnDamagedId},
			#{departmentId},
			#{officeId},
			#{code},
			#{status},
			#{collectNumber},
			#{trashId},
			#{weight},
			#{collectId},
			#{collectTime},
			#{putInTime},
			#{warnTime},
			#{createDate},
			#{remarks}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_warn_damaged SET
			departmentId = #{departmentId},
			officeId = #{officeId},
			code = #{code},
			status = #{status},
			collectNumber = #{collectNumber},
			trashId = #{trashId},
			weight = #{weight},
			collectId = #{collectId},
			collectTime = #{collectTime},
			putInTime = #{putInTime},
			warnTime = #{warnTime},
			remarks = #{remarks}
		WHERE warnDamagedId = #{warnDamagedId}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_warn_damaged
		WHERE warnDamagedId = #{id}
	</update>

</mapper>