<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.dao.notice.NoticeDao">

	<sql id="noticeColumns">
		a.noticeWriteId AS "noticeWriteId",
		a.headline AS "headline",
		a.issuer AS "issuer",
		a.writer AS "writer",
		a.content AS "content",
		a.unit AS "unit",
		a.writeTime AS "writeTime",
		a.status AS "status",
		a.picture AS "picture",
		a.createDate AS "createDate"
	</sql>

	<!--查询单条数据-->
	<select id="get" resultType="Notice">
		SELECT
		<include refid="noticeColumns"/>
		FROM t_notice_write a
		WHERE a.noticeWriteId = #{noticeWriteId}
	</select>

	<!--根据名称查询-->
	<select id="getByName" resultType="Notice">
		SELECT
		<include refid="noticeColumns"/>
		FROM t_notice_write a
		WHERE a.headline = #{value}
	</select>

	<!--通过查询条件查询所有数据-->
	<select id="findListByRequest" resultType="Notice">
		SELECT
		<include refid="noticeColumns"/>
		FROM t_notice_write a
		<where>
			<if test="startTime != null and startTime != ''">
				AND a.createDate &gt;=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				AND a.createDate &lt;=#{endTime}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
		</where>
		ORDER BY a.createDate DESC
	</select>

	<!--条件查询所有-->
	<select id="findList" resultType="Notice">
		SELECT
		<include refid="noticeColumns"/>
		FROM t_notice_write a

	</select>

	<!--插入-->
	<insert id="insert">
		INSERT INTO t_notice_write(
		noticeWriteId,
		headline,
		issuer,
		writer,
		content,
		unit,
		status,
		picture,
		createDate
		) VALUES (
		#{noticeWriteId},
		#{headline},
		#{issuer},
		#{writer},
		#{content},
		#{unit},
		#{status},
		#{picture},
		#{createDate}
		)
	</insert>

	<!--修改-->
	<update id="update">
		UPDATE t_notice_write SET
		noticeWriteId = #{noticeWriteId},
		headline = #{headline},
		issuer = #{issuer},
		writer = #{writer},
		content = #{content},
		unit = #{unit},
		writeTime = #{writeTime},
		picture = #{picture}
		WHERE noticeWriteId = #{noticeWriteId}
	</update>

	<!--通过id修改公告状态-->
	<update id="editStatus">
		UPDATE t_notice_write SET
		status = #{status},
		writeTime = #{writeTime}
		WHERE noticeWriteId = #{noticeWriteId}
	</update>

	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_notice_write
		WHERE noticeWriteId = #{noticeWriteId}
	</update>

</mapper>